h1 {
    color: pink;
    text-align: center;
    font-family: Papyrus;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .etude-homepage {
    display: inline-block;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 15px;
    border-radius: 20px;
  }

  .maybelline-homepage {
    display: inline-block;
    object-fit: cover;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
  }

  .hudabeauty-homepage {
    display: inline-block;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
  }

  .oil-homepage {
    display: inline-block;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  .nails-homepage {
    display: inline-block;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 15px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  .search-bar {
    display: block;
    cursor: I-beam;
    border-color: rgb(32, 24, 92);
    border-style: solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: rgb(215, 134, 147);
    background-color: white;
    margin-left: 50px;

  }

  .about-us {
    color: rgb(215, 134, 147);
    text-decoration: underline;
    text-align: center;
    font-family: monaco;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .names {
    text-align: center;
    font-family: sofia;
    font-weight: bold;
    color: rgb(32, 24, 92);
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .description {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-family: trebuchet MS;
    color: rgb(215, 134, 147);
    margin-top: 10px;
    margin-bottom: 25px;
    width: 800px;
    margin-left: 325px;
  }

  .skincare-quiz-button {
    color: white;
    background-color: pink;
    border: none;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 28px;
    font-family: futura;
    text-align: center;
    margin-left: 40px;
  }

  .sqb-underline {
    text-decoration: none;
    color: white;
  }

  .skincare-quiz-button:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .skincare-quiz-button:active {
    opacity: 0.5;
  }

  .haircare-quiz-button {
    margin-top: 15px;
    color: white;
    background-color: pink;
    border: none;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 28px;
    font-family: futura;
    text-align: center;
    margin-left: 40px;
  }

  .hcq-underline {
    text-decoration: none;
    color: white;
  }

  .haircare-quiz-button:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .haircare-quiz-button:active {
    opacity: 0.5;
  }